*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: neue-haas-unica, sans-serif;
}

body{
  background-color: #172741;
}

.App{
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 10vw 25vw auto 10vw;
}

.sidebar-container{
  display: flex;
  justify-content: center;
  align-items: center;

  grid-area: 1/2/2/2;
}

.master-container{
  padding: 5vh 0;
  grid-area: 1/3/2/3;
  overflow-y: scroll;
}

.master-container h1{
  color: white;
}

.master-container h2{
  color: white;
}

.master-container p{
  color: white;
}

/* Country Section */
.CountrySection> h1{
  color: white;
}

.city-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.city-container > * {
  margin-right: 12px;
  margin-bottom: 12px;
}

/* Sidebar */

.Sidebar{
  width: 18vw;
  height: 95vh;
  background: rgba(24, 128, 222, 1);
  background: linear-gradient(0deg, rgba(24, 128, 222, 1) 0%, rgba(66,168,248,1) 100%);
  border-radius: 5px;
  padding: 64px 32px;
}

.Sidebar h1{
  color: white;
}

.Sidebar p{
  color: white;
  line-height: 130%;
}

.Sidebar > .top > *{
  margin-bottom: 8px;
}

/* City Card */

.CityCard{
  width: 250px;
  height: 100px;
  border-radius: 10px;
  background-color: rgb(226, 226, 226);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 8px 16px;
  cursor: pointer;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  flex-grow: 1;
  text-decoration: none;
}

.CityCardHover:hover{
  background-color: rgba(24, 128, 222, 1);
  flex-grow: 5;
}

.invis{
  opacity: 0;
}

.CityCard:hover *{
  color: white;
}

.CityCard p{
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  margin-top: -5px;
  color: black;
  text-decoration: none;
}

.CityCard h2{
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  margin-top: -8px;
  color: black;
  text-decoration: none;
}

/* Restaurant Card */

.RestaurantCard{
  margin: 8px 0;
  cursor: pointer;
}

.RestaurantCard .top-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: white;
  padding: 24px 48px;
  border-radius: 10px;

  transition-duration: 500ms;


  box-shadow: inset 0px 0px 0px 0px rgba(66,168,248,1);
}

.RestaurantCard .canhover:hover{
  box-shadow: inset 0px -8px 0px 0px rgba(66,168,248,1);
}

.RestaurantCard p{
  color: black;
}

.RestaurantCard h2{
  color: black;
}

.RestaurantCard h3{
  color: black;
}

.expandable{
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  background-color: rgba(66,168,248,1);
  border-radius: 10px;
  margin-top: 8px;
}

.expandable-container{
  padding: 24px 48px;
}

/* Admin */

.Admin input{
  padding: 8px;
  border-radius: 5px;
  display: block;
  margin-bottom: 8px;
  width: 20vw;
}

.Admin button{
  background-color: rgba(66,168,248,1);
  color: white;
  font-weight: 700;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 300ms;
  outline: none;
  border: none;
}

.Admin button:hover{
  background-color: rgba(38, 118, 181, 1);
}

.csv-input {
  padding: 10px;
  display: block;
  border: 1px solid #fff;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
